{
  "swagger": "2.0",
  "info": {
    "description": "This is a sample server Petstore server.  You can find out more about Swagger at [http://swagger.io](http://swagger.io) or on [irc.freenode.net, #swagger](http://swagger.io/irc/).  For this sample, you can use the api key `special-key` to test the authorization filters.",
    "version": "1.0.0",
    "title": "Swagger MyProfile",
    "termsOfService": "http://swagger.io/terms/",
    "contact": {
      "email": "apiteam@swagger.io"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host": "demo.intellifi.tech/demo/MyProfile/web/public",
  "basePath": "/api",
  "schemes": [
    "http",
    "https"
  ],
  "paths": {
    "/user/index": {
      "get": {
        "tags": [
          "user"
        ],
        "summary": "Tüm kullanıcılar",
        "description": "This can only be done by the logged in user.",
        "operationId": "createUser",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type" : "array",
              "items" : {
                "$ref": "#/definitions/User"
              }
            }
          },
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/user/show": {
      "post": {
        "tags": [
          "user"
        ],
        "summary": "Kullanıcı getirir",
        "description": "",
        "operationId": "showUser",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/User"
            }
          },
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/user/{user_id}/show": {
      "get": {
        "tags": [
          "user"
        ],
        "summary": "ID'si gönderilen kullanıcının detayları",
        "operationId": "userIdShow",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema" : {
              "$ref": "#/definitions/UserIdShowResponse"
            }
          },
          "404" : {
            "description": "Not Found"
          }
        }
      }
    },
    "/user/update": {
      "put": {
        "tags": [
          "user"
        ],
        "summary": "Kulanıcı bilgilerini günceller.",
        "operationId": "updateUser",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/UserUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/User"
            }
          },
          "204": {
            "description": "Böyle bir kullanıcı yok."
          }
        }
      }
    },
    "/user/register": {
      "post": {
        "tags": [
          "user"
        ],
        "summary": "Kullanıcı kayıt",
        "operationId": "registerUser",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "type": "string",
            "schema": {
              "$ref": "#/definitions/UserRegister"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UserResponse"
            }
          },
          "204": {
            "description": "Tüm alanlar zorunludur."
          }
        }
      }
    },
    "/user/login": {
      "post": {
        "tags": [
          "user"
        ],
        "summary": "Kullanıcı girişi",
        "description": "",
        "operationId": "loginUser",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "type": "string",
            "schema": {
              "$ref": "#/definitions/UserLogin"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UserResponse"
            }
          }
        }
      }
    },
    "/user/coordinate/setCoordinates": {
      "post": {
        "tags": [
          "user"
        ],
        "summary": "Koordinat ekle",
        "operationId": "setCoordinates",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "type": "string",
            "schema": {
              "$ref": "#/definitions/UserSetCoordinates"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UserCoordinates"
            }
          },
          "204": {
            "description": "Kullanıcı haritada gösterme izni yok."
          }
        }
      }
    },
    "/user/coordinate/nearbyUsers": {
      "post": {
        "tags": [
          "user"
        ],
        "summary": "Yakındaki kullanıcılar",
        "operationId": "nearbyUsers",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "type": "string",
            "schema": {
              "$ref": "#/definitions/NearbyUsers"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type" : "array",
              "items" : {
                "$ref": "#/definitions/NearbyUsersResponse"
              }
            }
          },
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/user/userAttendedEvent": {
      "post": {
        "tags": [
          "user"
        ],
        "summary": "Yeni katılım oluştur.",
        "description": "This can only be done by the logged in user.",
        "operationId": "createEvent",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "type": "string",
            "schema": {
              "$ref": "#/definitions/AttendedEventRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AttendedEventResponse"
            }
          },
          "204": {
            "description": "Etkinlik ID, etkinlik açıklaması, etkinlik resmi, katılım tarihi boş olamaz."
          }
        }
      }
    },
    "/user/userAttendedEvents": {
      "post": {
        "tags": [
          "user"
        ],
        "summary": "Kullanıcının katıldığı etkinlikler",
        "operationId": "userAttendedEvents",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type" : "array",
              "items" : {
                "$ref": "#/definitions/AttendedEvents"
              }
            }
          },
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/user/userPrivacySettings": {
      "post": {
        "tags": [
          "user"
        ],
        "summary": "Kullanıcı gizlilik ayarları",
        "operationId": "userPrivacySettings",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "type": "boolean",
            "schema": {
              "$ref": "#/definitions/UserPrivacySettings"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UserPrivacySettingsResponse"
            }
          }
        }
      }
    },
    "/user/indexExperiences": {
      "get": {
        "tags": [
          "user"
        ],
        "summary": "Deneyimlerim",
        "operationId": "experiences",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref": "#/definitions/UserExperiences"
              }
            }
          },
          "404" : {
            "description": "Not Found"
          }
        }
      }
    },
    "/user/storeExperiences": {
      "post": {
        "tags": [
          "user"
        ],
        "summary": "Deneyim ekle",
        "operationId": "storeExperiences",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "type": "boolean",
            "schema": {
              "$ref": "#/definitions/AddUserExperiencesRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref": "#/definitions/UserExperiences"
              }
            }
          },
          "404" : {
            "description": "Not Found"
          }
        }
      }
    },
    "/user/{experiences_id}/destroyExperiences": {
      "get": {
        "tags": [
          "user"
        ],
        "summary": "Deneyim sil",
        "operationId": "destroyExperiences",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/user/{user_id}/showUserExperiences": {
      "get": {
        "tags": [
          "user"
        ],
        "summary": "ID'si gönderilen kullanıcının deneyimleri",
        "operationId": "showUserExperiences",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref": "#/definitions/UserExperiencesResponse"
              }
            }
          }
        }
      }
    },
    "/user/followings": {
      "post": {
        "tags": [
          "user"
        ],
        "summary": "Takip ettiklerim",
        "operationId": "followings",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref": "#/definitions/FollowingResponse"
              }
            }
          },
          "204" : {
            "description": "No Content"
          }
        }
      }
    },
    "/user/followers": {
      "post": {
        "tags": [
          "user"
        ],
        "summary": "Takipçilerim",
        "operationId": "followers",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref": "#/definitions/FollowersResponse"
              }
            }
          }
        }
      }
    },
    "/user/follow": {
      "post": {
        "tags": [
          "user"
        ],
        "summary": "Takip Et",
        "operationId": "follow",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "type": "string",
            "schema": {
              "$ref": "#/definitions/Follow"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Follow"
            }
          },
          "204": {
            "description": "Takip etmek istediğiniz kullanıcı takip isteği kabul etmiyor."
          }
        }
      }
    },
    "/user/stopFollowing": {
      "post": {
        "tags": [
          "user"
        ],
        "summary": "Takibi bırak",
        "operationId": "stopFollowing",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "type": "string",
            "schema": {
              "$ref": "#/definitions/Follow"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/user/indexPhotos": {
      "get": {
        "tags": [
          "user"
        ],
        "summary": "Kullanıcıya ait resimleri getirir",
        "description": "This can only be done by the logged in user.",
        "operationId": "sectorShow",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type" : "array",
              "items" : {
                "$ref": "#/definitions/Photos"
              }
            }
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/user/addPhoto": {
      "post": {
        "tags": [
          "user"
        ],
        "summary": "Kullanıcıya ait resim ekler",
        "description": "This can only be done by the logged in user.",
        "operationId": "addPhoto",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "type": "string",
            "schema": {
              "$ref": "#/definitions/AddPhotoRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
                "$ref": "#/definitions/Photos"
            }
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/user/likeActivity": {
      "post": {
        "tags": [
          "user"
        ],
        "summary": "Kullanıcının etkinliğe katılma aktivitesini beğen",
        "operationId": "likeActivity",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "type": "string",
            "schema": {
              "$ref": "#/definitions/LikeActivity"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/user/{user_id}/events": {
      "get": {
        "tags": [
          "user"
        ],
        "summary": "ID'si gönderilen kullanıcının etkinlikleri",
        "operationId": "userIDEvents",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref": "#/definitions/AttendedEvents"
              }
            }
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/user/userSearch": {
      "get": {
        "tags": [
          "user"
        ],
        "summary": "Gönderilen isme göre kullanıcı arar.",
        "operationId": "userSearch",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "type": "string",
            "schema": {
              "$ref": "#/definitions/UserSearchRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type" : "array",
              "items" : {
                "$ref": "#/definitions/User"
              }
            }
          },
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/index": {
      "get": {
        "tags": [
          "event"
        ],
        "summary": "Tüm etkinlikler",
        "description": "This can only be done by the logged in user.",
        "operationId": "allEvent",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type" : "array",
              "items" : {
                "$ref": "#/definitions/Events"
              }
            }
          },
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/{event_id}/show": {
      "get": {
        "tags": [
          "event"
        ],
        "summary": "Etkinlik getir.",
        "description": "This can only be done by the logged in user.",
        "operationId": "showEvent",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/IdEventShow"
            }
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/event/search": {
      "post": {
        "tags": [
          "event"
        ],
        "summary": "Etkinlik arama",
        "description": "Gönderilen title keyine göre arama yapar.",
        "operationId": "searchEvent",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "type": "string",
            "schema": {
              "$ref": "#/definitions/EventSearch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type" : "array",
              "items": {
                "$ref": "#/definitions/SearchEventResponse"
              }
            }
          },
          "204": {
            "description": "No content"
          }
        }
      }
    },
    "/event/nearbyEvents": {
      "post": {
        "tags": [
          "event"
        ],
        "summary": "Yakınımdaki etkinlikler.",
        "description": "This can only be done by the logged in user.",
        "operationId": "nearbyEvents",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NearbyEvents"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/NearbyEventsResponse"
            }
          }
        }
      }
    },
    "/comment/create": {
      "post": {
        "tags": [
          "comment"
        ],
        "summary": "Etkinliğe yorum yap.",
        "description": "This can only be done by the logged in user.",
        "operationId": "createComment",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "type": "string",
            "schema": {
              "$ref": "#/definitions/CommentCreate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type" : "array",
              "items" : {
                "$ref": "#/definitions/Comments"
              }
            }
          }
        }
      }
    },
    "/message/getMessages": {
      "get": {
        "tags": [
          "message"
        ],
        "summary": "Kullanıcının tüm mesajlarını getirir.",
        "description": "This can only be done by the logged in user.",
        "operationId": "getMessages",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type" : "array",
              "items" : {
                "$ref": "#/definitions/Message"
              }
            }
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/message/sendMessage": {
      "post": {
        "tags": [
          "message"
        ],
        "summary": "Mesaj gönderir.",
        "description": "This can only be done by the logged in user.",
        "operationId": "SendMessage",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "type": "string",
            "schema": {
              "$ref": "#/definitions/NewMessage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Message"
            }
          },
          "204": {
            "description": "Mesaj göndermeye çalıştığınız kullanıcı mesaj kabul etmiyor."
          }
        }
      }
    },
    "/message/{to_user_id}/readMessage": {
      "get": {
        "tags": [
          "message"
        ],
        "summary": "token ve to_user_id'ye ait mesajların tümünü okundu yapar.",
        "description": "This can only be done by the logged in user.",
        "operationId": "readMessage",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/activity/likesActivity": {
      "post": {
        "tags": [
          "activity"
        ],
        "summary": "Aktiviteyi beğenenler",
        "description": "This can only be done by the logged in user.",
        "operationId": "likesActivity",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "type": "string",
            "schema": {
              "$ref": "#/definitions/LikesActivity"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type" : "array",
              "items" : {
                "$ref": "#/definitions/User"
              }
            }
          }
        }
      }
    },
    "/company/index": {
      "get": {
        "tags": [
          "company"
        ],
        "summary": "Tüm firmaları listeler",
        "description": "This can only be done by the logged in user.",
        "operationId": "companyIndex",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type" : "array",
              "items" : {
                "$ref": "#/definitions/Company"
              }
            }
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/company/{company_id}/show": {
      "get": {
        "tags": [
          "company"
        ],
        "summary": "ID'si gönderilen firmayı getirir",
        "description": "This can only be done by the logged in user.",
        "operationId": "companyShow",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Company"
            }
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/sector/index": {
      "get": {
        "tags": [
          "sector"
        ],
        "summary": "Tüm sektörleri listeler",
        "description": "This can only be done by the logged in user.",
        "operationId": "sectorIndex",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type" : "array",
              "items" : {
                "$ref": "#/definitions/Sector"
              }
            }
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/sector/{sector_id}/show": {
      "get": {
        "tags": [
          "sector"
        ],
        "summary": "ID'si gönderilen sektörü getirir",
        "description": "This can only be done by the logged in user.",
        "operationId": "sectorShow",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Company"
            }
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/photo/{photo_id}/likePhoto": {
      "get": {
        "tags": [
          "photo"
        ],
        "summary": "ID'si gönderilen fotoğrafı beğenme",
        "description": "This can only be done by the logged in user.",
        "operationId": "likePhoto",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/photo/{photo_id}/deletePhoto": {
      "get": {
        "tags": [
          "photo"
        ],
        "summary": "ID'si gönderilen fotoğrafı siler",
        "description": "This can only be done by the logged in user.",
        "operationId": "deletePhoto",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/togetherness/addTogetherness": {
      "post": {
        "tags": [
          "togetherness"
        ],
        "summary": "İşbirliği ekle",
        "description": "with_whom_users değerini virgül ile ayırınız ve son elemandan sonra virgül olmasın.",
        "operationId": "addTogetherness",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "type": "string",
            "schema": {
              "$ref": "#/definitions/AddTogethernessRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
                "$ref": "#/definitions/AddTogethernessResponse"
            }
          },
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/togetherness/{togethernessId}/likeTogetherness": {
      "get": {
        "tags": [
          "togetherness"
        ],
        "summary": "İşbirliği beğen",
        "operationId": "togethernessId",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/togetherness/{togethernessId}/showTogetherness": {
      "get": {
        "tags": [
          "togetherness"
        ],
        "summary": "İşbirliği getir",
        "operationId": "showTogetherness",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ShowTogetherness"
            }
          },
          "204": {
            "description": "No Content"
          }
        }
      }
    }
  },
  "definitions": {
    "User": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "bigInteger"
        },
        "type": {
          "type": "integer"
        },
        "profile_photo": {
          "type": "string",
          "format": "longText"
        },
        "cover_photo": {
          "type": "string",
          "format": "text"
        },
        "title": {
          "type": "string",
          "format": "text"
        },
        "name": {
          "type": "string"
        },
        "surname": {
          "type": "string"
        },
        "career_history": {
          "type": "string",
          "format": "longText"
        },
        "short_biography": {
          "type": "string",
          "format": "longText"
        },
        "credentials": {
          "type": "string",
          "format": "longText"
        },
        "date_of_birth": {
          "type": "string"
        },
        "company_id": {
          "type": "integer",
          "format": "tinyInteger"
        },
        "sector_id": {
          "type": "integer",
          "format": "tinyInteger"
        },
        "email": {
          "type": "string"
        },
        "status": {
          "type": "integer",
          "format": "tinyInteger"
        },
        "package": {
          "type": "integer",
          "format": "tinyInteger"
        },
        "created_at": {
          "type": "string"
        },
        "updated_at": {
          "type": "string"
        }
      },
      "xml": {
        "name": "User"
      }
    },
    "UserIdShowResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "bigInteger"
        },
        "type": {
          "type": "integer"
        },
        "profile_photo": {
          "type": "string",
          "format": "longText"
        },
        "cover_photo": {
          "type": "string",
          "format": "text"
        },
        "title": {
          "type": "string",
          "format": "text"
        },
        "name": {
          "type": "string"
        },
        "surname": {
          "type": "string"
        },
        "career_history": {
          "type": "string",
          "format": "longText"
        },
        "short_biography": {
          "type": "string",
          "format": "longText"
        },
        "credentials": {
          "type": "string",
          "format": "longText"
        },
        "date_of_birth": {
          "type": "string"
        },
        "company_id": {
          "type": "integer",
          "format": "tinyInteger"
        },
        "sector_id": {
          "type": "integer",
          "format": "tinyInteger"
        },
        "email": {
          "type": "string"
        },
        "status": {
          "type": "integer",
          "format": "tinyInteger"
        },
        "package": {
          "type": "integer",
          "format": "tinyInteger"
        },
        "created_at": {
          "type": "string"
        },
        "updated_at": {
          "type": "string"
        }
      },
      "xml": {
        "name": "User"
      }
    },
    "UserShow": {
      "type": "object",
      "properties": {
        "api_token": {
          "type": "string"
        }
      },
      "xml": {
        "name": "User"
      }
    },
    "UserRegister": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "surname": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "password": {
          "type": "string"
        }
      },
      "xml": {
        "name": "User"
      }
    },
    "UserEdit": {
      "type": "object",
      "required": [
        "api-token"
      ],
      "properties": {
        "api-token": {
          "type": "string"
        }
      },
      "xml": {
        "name": "User"
      }
    },
    "UserUpdate": {
      "type": "object",
      "required": [
        "password",
        "name",
        "surname"
      ],
      "properties": {
        "profile_photo": {
          "type": "string",
          "format": "longText"
        },
        "cover_photo": {
          "type": "string",
          "format": "text"
        },
        "title": {
          "type": "string",
          "format": "text"
        },
        "name": {
          "type": "string"
        },
        "surname": {
          "type": "string"
        },
        "career_history": {
          "type": "string",
          "format": "longText"
        },
        "short_biography": {
          "type": "string",
          "format": "longText"
        },
        "credentials": {
          "type": "string",
          "format": "longText"
        },
        "date_of_birth": {
          "type": "string"
        },
        "company_id": {
          "type": "integer",
          "format": "tinyInteger"
        },
        "sector_id": {
          "type": "integer",
          "format": "tinyInteger"
        }
      },
      "xml": {
        "name": "User"
      }
    },
    "UserLogin": {
      "type": "object",
      "reuired" : [
        "email",
        "password"
      ],
      "properties": {
        "email": {
          "type": "string"
        },
        "password": {
          "type": "string"
        }
      },
      "xml": {
        "name": "User"
      }
    },
    "UserResponse": {
      "type": "object",
      "properties": {
        "api_token": {
          "type": "string"
        },
        "id": {
          "type": "integer",
          "format": "bigInteger"
        },
        "profile_photo": {
          "type": "string",
          "format": "longText"
        },
        "cover_photo": {
          "type": "string",
          "format": "text"
        },
        "title": {
          "type": "string",
          "format": "text"
        },
        "name": {
          "type": "string"
        },
        "career_history": {
          "type": "string",
          "format": "longText"
        },
        "short_biography": {
          "type": "string",
          "format": "longText"
        },
        "credentials": {
          "type": "string",
          "format": "longText"
        },
        "date_of_birth": {
          "type": "string"
        },
        "company_id": {
          "type": "integer",
          "format": "tinyInteger"
        },
        "sector_id": {
          "type": "integer",
          "format": "tinyInteger"
        },
        "email": {
          "type": "string"
        },
        "visibility_on_the_map": {
          "type": "integer"
        },
        "no_message": {
          "type": "integer"
        },
        "no_follow_up_request": {
          "type": "integer"
        }
      }
    },
    "UserActivities": {
      "type": "object",
      "properties": {
        "api_token": {
          "type": "string"
        },
        "id": {
          "type": "integer",
          "format": "bigInteger"
        },
        "profile_photo": {
          "type": "string",
          "format": "longText"
        },
        "cover_photo": {
          "type": "string",
          "format": "text"
        },
        "title": {
          "type": "string",
          "format": "text"
        },
        "name": {
          "type": "string"
        },
        "career_history": {
          "type": "string",
          "format": "longText"
        },
        "short_biography": {
          "type": "string",
          "format": "longText"
        },
        "credentials": {
          "type": "string",
          "format": "longText"
        },
        "date_of_birth": {
          "type": "string"
        },
        "company_id": {
          "type": "integer",
          "format": "tinyInteger"
        },
        "sector_id": {
          "type": "integer",
          "format": "tinyInteger"
        },
        "email": {
          "type": "string"
        },
        "visibility_on_the_map": {
          "type": "integer"
        },
        "no_message": {
          "type": "integer"
        },
        "no_follow_up_request": {
          "type": "integer"
        },
        "attended_event": {
          "$ref": "#/definitions/AttendedEvent"
        },
        "events": {
          "$ref": "#/definitions/Events"
        }
      }
    },
    "City": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "bigInteger"
        },
        "slug": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "plate_no": {
          "type": "string"
        },
        "phone_code": {
          "type": "string"
        }
      },
      "xml": {
        "name": "User"
      }
    },
    "Town": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "bigInteger"
        },
        "city_id": {
          "type": "integer"
        },
        "slug": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "xml": {
        "name": "User"
      }
    },
    "Events": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer"
        },
        "title": {
          "type": "string"
        },
        "latitude": {
          "type": "string"
        },
        "longitude": {
          "type": "string"
        },
        "created_at": {
          "type": "string"
        },
        "updated_at": {
          "type": "string"
        }
      },
      "xml": {
        "name": "User"
      }
    },
    "SearchEventResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer"
        },
        "title": {
          "type": "string"
        },
        "latitude": {
          "type": "string"
        },
        "longitude": {
          "type": "string"
        },
        "created_at": {
          "type": "string"
        },
        "updated_at": {
          "type": "string"
        },
        "user_attended_events_count": {
          "type": "integer"
        },
        "user_attended_event": {
          "$ref": "#/definitions/EventSearchAttendedEventResponse"
        }
      },
      "xml": {
        "name": "User"
      }
    },
    "IdEventShow": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer"
        },
        "title": {
          "type": "string"
        },
        "latitude": {
          "type": "string"
        },
        "longitude": {
          "type": "string"
        },
        "created_at": {
          "type": "string"
        },
        "updated_at": {
          "type": "string"
        },
        "user_attended_event": {
          "$ref": "#/definitions/AttendedEvent"
        },
        "comments": {
          "$ref": "#/definitions/Comments"
        }
      },
      "xml": {
        "name": "User"
      }
    },
    "NearbyEventsResponse": {
      "type": "object",
      "properties": {
        "title": {
          "type": "string"
        },
        "latitude": {
          "type": "string"
        },
        "longitude": {
          "type": "string"
        },
        "eventDistance": {
          "type": "string"
        },
        "attended_event": {
          "$ref": "#/definitions/AttendedEvent"
        },
        "comments": {
          "$ref": "#/definitions/Comments"
        },
        "user": {
          "$ref": "#/definitions/User"
        }
      },
      "xml": {
        "name": "User"
      }
    },
    "EventSearch": {
      "type": "object",
      "properties": {
        "title": {
          "type": "string"
        },
        "meterLimit": {
          "type": "string"
        },
        "latitude": {
          "type": "string"
        },
        "longitude": {
          "type": "string"
        }
      },
      "xml": {
        "name": "User"
      }
    },
    "AttendedEvent": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer"
        },
        "event_id": {
          "type": "integer"
        },
        "user_id": {
          "type": "integer"
        },
        "event_description": {
          "type": "string"
        },
        "event_image": {
          "type": "string"
        },
        "date_of_participation": {
          "type": "string"
        },
        "end_date": {
          "type": "string"
        },
        "rating": {
          "type": "integer"
        },
        "created_at": {
          "type": "string"
        },
        "updated_at": {
          "type": "string"
        },
        "user": {
          "$ref": "#/definitions/User"
        }
      },
      "xml": {
        "name": "User"
      }
    },
    "AttendedEventRequest": {
      "type": "object",
      "properties": {
        "event_id": {
          "type": "integer"
        },
        "title": {
          "type": "string"
        },
        "latitude": {
          "type": "string"
        },
        "longitude": {
          "type": "string"
        },
        "event_description": {
          "type": "string"
        },
        "event_image": {
          "type": "string"
        },
        "date_of_participation": {
          "type": "string"
        },
        "end_date": {
          "type": "string"
        }
      },
      "xml": {
        "name": "User"
      }
    },
    "AttendedEvents": {
      "type": "object",
      "required" : [
        "event_id",
        "user_id",
        "event_description",
        "event_image",
        "date_of_participation"
      ],
      "properties": {
        "id" : {
          "type" : "integer"
        },
        "event_id" : {
          "type" : "integer"
        },
        "user_id" : {
          "type" : "integer"
        },
        "event_description" : {
          "type" : "string"
        },
        "event_image" : {
          "type" : "string"
        },
        "date_of_participation" : {
          "type" : "string"
        },
        "end_date" : {
          "type" : "string"
        },
        "rating" : {
          "type" : "string"
        },
        "created_at" : {
          "type" : "string"
        },
        "updated_at" : {
          "type" : "string"
        },
        "event": {
          "$ref": "#/definitions/Events"
        }
      },
      "xml": {
        "name": "User"
      }
    },
    "AttendedEventResponse": {
      "type": "object",
      "properties": {
        "event_id": {
          "type": "integer"
        },
        "title": {
          "type": "string"
        },
        "latitude": {
          "type": "string"
        },
        "longitude": {
          "type": "string"
        },
        "event_description": {
          "type": "string"
        },
        "event_image": {
          "type": "string"
        },
        "date_of_participation": {
          "type": "string"
        },
        "end_date": {
          "type": "string"
        },
        "rating": {
          "type": "integer"
        },
        "event": {
          "$ref": "#/definitions/Event"
        },
        "created_at": {
          "type": "string"
        },
        "updated_at": {
          "type": "string"
        }
      },
      "xml": {
        "name": "User"
      }
    },
    "EventSearchAttendedEventResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer"
        },
        "event_id": {
          "type": "integer"
        },
        "user_id": {
          "type": "integer"
        },
        "event_description": {
          "type": "string"
        },
        "event_image": {
          "type": "string"
        },
        "date_of_participation": {
          "type": "string"
        },
        "end_date": {
          "type": "string"
        },
        "rating": {
          "type": "integer"
        },
        "created_at": {
          "type": "string"
        },
        "updated_at": {
          "type": "string"
        }
      },
      "xml": {
        "name": "User"
      }
    },
    "EventShow": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "bigInteger"
        }
      },
      "xml": {
        "name": "User"
      }
    },
    "EventUpdate": {
      "type": "object",
      "properties": {
        "api_token": {
          "type": "string"
        },
        "id": {
          "type": "integer",
          "format": "bigInteger"
        },
        "name": {
          "type": "string"
        },
        "activity_date": {
          "type": "string"
        }
      },
      "xml": {
        "name": "User"
      }
    },
    "Comments": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer"
        },
        "user_id": {
          "type": "integer"
        },
        "attended_id": {
          "type": "integer"
        },
        "comment": {
          "type": "string"
        },
        "created_at": {
          "type": "string"
        },
        "updated_at": {
          "type": "string"
        }
      },
      "xml": {
        "name": "User"
      }
    },
    "CommentCreate": {
      "type": "object",
      "properties": {
        "attended_id": {
          "type": "integer"
        },
        "comment": {
          "type": "string"
        }
      },
      "xml": {
        "name": "User"
      }
    },
    "Message": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer"
        },
        "type": {
          "type": "integer"
        },
        "parent_id": {
          "type": "integer"
        },
        "from_user_id": {
          "type": "integer"
        },
        "to_user_id": {
          "type": "integer"
        },
        "message": {
          "type": "string"
        },
        "status": {
          "type": "integer"
        },
        "user": {
          "$ref": "#/definitions/User"
        }
      },
      "xml": {
        "name": "User"
      }
    },
    "NewMessage": {
      "type": "object",
      "properties": {
        "to_user_id": {
          "type": "integer"
        },
        "message": {
          "type": "string"
        }
      },
      "xml": {
        "name": "User"
      }
    },
    "AnswerMessage": {
      "type": "object",
      "properties": {
        "parent_id": {
          "type": "integer"
        },
        "to_user_id": {
          "type": "integer"
        },
        "message": {
          "type": "string"
        },
        "status": {
          "type": "integer"
        }
      },
      "xml": {
        "name": "User"
      }
    },
    "UserCoordinates": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer"
        },
        "user_id": {
          "type": "integer"
        },
        "latitude": {
          "type": "string"
        },
        "longitude": {
          "type": "string"
        }
      },
      "xml": {
        "name": "User"
      }
    },
    "NearbyUsers": {
      "type": "object",
      "properties": {
        "latitude": {
          "type": "string"
        },
        "longitude": {
          "type": "string"
        },
        "meterLimit": {
          "type": "integer"
        }
      },
      "xml": {
        "name": "User"
      }
    },
    "NearbyUsersResponse": {
      "type": "object",
      "properties": {
        "users": {
          "$ref": "#/definitions/User"
        },
        "latitude": {
          "type": "string"
        },
        "longitude": {
          "type": "string"
        },
        "userDistance": {
          "type": "integer"
        }
      },
      "xml": {
        "name": "User"
      }
    },
    "UserSetCoordinates": {
      "type": "object",
      "properties": {
        "latitude": {
          "type": "string"
        },
        "longitude": {
          "type": "string"
        }
      },
      "xml": {
        "name": "User"
      }
    },
    "UserAttendedActivities": {
      "type": "object",
      "properties": {
        "api_token": {
          "type": "string"
        },
        "activity_id": {
          "type": "integer"
        }
      },
      "xml": {
        "name": "User"
      }
    },
    "Follow": {
      "type": "object",
      "properties": {
        "to_user_id": {
          "type": "integer"
        }
      },
      "xml": {
        "name": "User"
      }
    },
    "FollowersResponse": {
      "type": "object",
      "properties": {
        "from_user_id": {
          "type": "integer"
        },
        "to_user_id": {
          "type": "integer"
        },
        "my_followers": {
          "$ref": "#/definitions/User"
        }
      },
      "xml": {
        "name": "User"
      }
    },
    "FollowingResponse": {
      "type": "object",
      "properties": {
        "from_user_id": {
          "type": "integer"
        },
        "to_user_id": {
          "type": "integer"
        },
        "followings": {
          "$ref": "#/definitions/User"
        }
      },
      "xml": {
        "name": "User"
      }
    },
    "UserPrivacySettings": {
      "type": "object",
      "properties": {
        "visibility_on_the_map": {
          "type": "boolean"
        },
        "no_message": {
          "type": "boolean"
        },
        "no_follow_up_request": {
          "type": "boolean"
        }
      },
      "xml": {
        "name": "User"
      }
    },
    "UserPrivacySettingsResponse": {
      "type": "object",
      "properties": {
        "visibility_on_the_map": {
          "type": "boolean"
        },
        "no_message": {
          "type": "boolean"
        },
        "no_follow_up_request": {
          "type": "boolean"
        },
        "user": {
          "$ref": "#/definitions/User"
        }
      },
      "xml": {
        "name": "User"
      }
    },
    "NearbyEvents": {
      "type": "object",
      "properties": {
        "latitude": {
          "type": "string"
        },
        "longitude": {
          "type": "string"
        },
        "meterLimit": {
          "type": "integer"
        }
      },
      "xml": {
        "name": "User"
      }
    },
    "LikeActivity": {
      "type": "object",
      "properties": {
        "attended_id": {
          "type": "integer"
        }
      },
      "xml": {
        "name": "User"
      }
    },
    "LikesActivity": {
      "type": "object",
      "properties": {
        "attended_id": {
          "type": "integer"
        }
      },
      "xml": {
        "name": "User"
      }
    },
    "ActivitiesMyFollowersAttended": {
      "type": "object",
      "properties": {
        "from_user_id" : {
          "type" : "integer"
        },
        "to_user_id" : {
          "type" : "integer"
        },
        "my_followers" : {
          "$ref": "#/definitions/Followers"
        }
      },
      "xml": {
        "name": "User"
      }
    },
    "Followers": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "bigInteger"
        },
        "profile_photo": {
          "type": "string",
          "format": "longText"
        },
        "cover_photo": {
          "type": "string",
          "format": "text"
        },
        "title": {
          "type": "string",
          "format": "text"
        },
        "name": {
          "type": "string"
        },
        "surname": {
          "type": "string"
        },
        "career_history": {
          "type": "string",
          "format": "longText"
        },
        "short_biography": {
          "type": "string",
          "format": "longText"
        },
        "credentials": {
          "type": "string",
          "format": "longText"
        },
        "date_of_birth": {
          "type": "string"
        },
        "company_id": {
          "type": "integer",
          "format": "tinyInteger"
        },
        "sector_id": {
          "type": "integer",
          "format": "tinyInteger"
        },
        "email": {
          "type": "string"
        },
        "status": {
          "type": "integer",
          "format": "tinyInteger"
        },
        "user_attended_events" : {
          "$ref": "#/definitions/UserAttendedEvents"
        }
      },
      "xml": {
        "name": "User"
      }
    },
    "UserAttendedEvents": {
      "type": "object",
      "properties": {
        "event_id" : {
          "type" : "integer"
        },
        "user_id" : {
          "type" : "integer"
        },
        "event_description" : {
          "type" : "string"
        },
        "event_image" : {
          "type" : "string"
        },
        "date_of_participation" : {
          "type" : "string"
        },
        "end_date" : {
          "type" : "string"
        },
        "rating" : {
          "type" : "string"
        },
        "event": {
          "$ref": "#/definitions/UserEvents"
        }
      },
      "xml": {
        "name": "User"
      }
    },
    "UserEvents": {
      "type": "object",
      "properties": {
        "title": {
          "type": "string"
        },
        "latitude": {
          "type": "string"
        },
        "longitude": {
          "type": "string"
        },
        "comments": {
          "$ref": "#/definitions/Comments"
        }
      },
      "xml": {
        "name": "User"
      }
    },
    "Company": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "bigInteger"
        },
        "name": {
          "type": "string"
        },
        "created_at": {
          "type": "string"
        },
        "updated_at": {
          "type": "string"
        }
      },
      "xml": {
        "name": "User"
      }
    },
    "Sector": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "bigInteger"
        },
        "name": {
          "type": "string"
        }
      },
      "xml": {
        "name": "User"
      }
    },
    "UserExperiences": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer"
        },
        "user_id": {
          "type": "integer"
        },
        "title": {
          "type": "string"
        },
        "company_id": {
          "type": "integer"
        },
        "start_time": {
          "type": "string"
        },
        "end_time": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "created_at": {
          "type": "string"
        },
        "updated_at": {
          "type": "string"
        },
        "company": {
          "$ref": "#/definitions/Company"
        }
      },
      "xml": {
        "name": "User"
      }
    },
    "AddUserExperiencesRequest": {
      "type": "object",
      "properties": {
        "title": {
          "type": "string"
        },
        "company_id": {
          "type": "integer"
        },
        "start_time": {
          "type": "string"
        },
        "end_time": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      },
      "xml": {
        "name": "User"
      }
    },
    "StoreUserExperiences": {
      "type": "object",
      "properties": {
        "title": {
          "type": "string"
        },
        "company_id": {
          "type": "integer"
        },
        "start_time": {
          "type": "string"
        },
        "end_time": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "created_at": {
          "type": "string"
        },
        "updated_at": {
          "type": "string"
        },
        "company": {
          "$ref": "#/definitions/Company"
        }
      },
      "xml": {
        "name": "User"
      }
    },
    "UserExperiencesResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer"
        },
        "user_id": {
          "type": "integer"
        },
        "title": {
          "type": "string"
        },
        "company_id": {
          "type": "integer"
        },
        "start_time": {
          "type": "string"
        },
        "end_time": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "created_at": {
          "type": "string"
        },
        "updated_at": {
          "type": "string"
        },
        "company": {
          "$ref": "#/definitions/Company"
        }
      },
      "xml": {
        "name": "User"
      }
    },
    "Photos": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer"
        },
        "user_id": {
          "type": "integer"
        },
        "photo_name": {
          "type": "string"
        },
        "rating": {
          "type": "integer"
        },
        "created_at": {
          "type": "string"
        },
        "updated_at": {
          "type": "string"
        }
      },
      "xml": {
        "name": "User"
      }
    },
    "AddPhotoRequest": {
      "type": "object",
      "properties": {
        "photo": {
          "type": "string"
        }
      },
      "xml": {
        "name": "User"
      }
    },
    "UserSearchRequest": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "xml": {
        "name": "User"
      }
    },
    "AddTogethernessRequest": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "togetherness_image": {
          "type": "string"
        },
        "with_whom_users": {
          "type": "string"
        }
      },
      "xml": {
        "name": "User"
      }
    },
    "AddTogethernessResponse": {
      "type": "object",
      "properties": {
        "user_id": {
          "type": "integer"
        },
        "description": {
          "type": "string"
        },
        "photo": {
          "type": "string"
        },
        "updated_at": {
          "type": "string"
        },
        "created_at": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      },
      "xml": {
        "name": "User"
      }
    },
    "ShowTogetherness": {
      "type": "object",
      "properties": {
        "user_id": {
          "type": "integer"
        },
        "description": {
          "type": "string"
        },
        "photo": {
          "type": "string"
        },
        "updated_at": {
          "type": "string"
        },
        "created_at": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "togetherness_users":{
          "type":"array",
          "items":{
            "$ref":"#/definitions/User"
          }
        }
      },
      "xml": {
        "name": "User"
      }
    }
  }
}