{
  "swagger": "2.0",
  "info": {
    "description": "This is a sample server Petstore server.  You can find out more about Swagger at [http://swagger.io](http://swagger.io) or on [irc.freenode.net, #swagger](http://swagger.io/irc/).  For this sample, you can use the api key `special-key` to test the authorization filters.",
    "version": "1.0.0",
    "title": "Swagger MyProfile",
    "termsOfService": "http://swagger.io/terms/",
    "contact": {
      "email": "apiteam@swagger.io"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host": "demo.intellifi.tech/demo/MyProfile/web/public",
  "basePath": "/api",
  "schemes": [
    "http",
    "https"
  ],
  "paths": {
    "/user/index": {
      "get": {
        "tags": [
          "user"
        ],
        "summary": "Tüm kullanıcılar",
        "description": "This can only be done by the logged in user.",
        "operationId": "createUser",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        }
      }
    },
    "/user/show": {
      "post": {
        "tags": [
          "user"
        ],
        "summary": "Kullanıcı getirir",
        "description": "",
        "operationId": "showUser",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UserEdit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/User"
            }
          }
        }
      }
    },
    "/user/update": {
      "put": {
        "tags": [
          "user"
        ],
        "summary": "Kulanıcı günceller",
        "operationId": "updateUser",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UserUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/User"
            }
          }
        }
      }
    },
    "/user/register": {
      "post": {
        "tags": [
          "user"
        ],
        "summary": "Kullanıcı kayıt",
        "operationId": "registerUser",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "type": "string",
            "schema": {
              "$ref": "#/definitions/UserRegister"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UserResponse"
            }
          }
        }
      }
    },
    "/user/login": {
      "post": {
        "tags": [
          "user"
        ],
        "summary": "Kullanıcı girişi",
        "description": "",
        "operationId": "loginUser",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "type": "string",
            "schema": {
              "$ref": "#/definitions/UserLogin"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UserResponse"
            }
          }
        }
      }
    },
    "/user/coordinate/setCoordinates": {
      "post": {
        "tags": [
          "user"
        ],
        "summary": "Koordinat ekle",
        "operationId": "setCoordinates",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "type": "string",
            "schema": {
              "$ref": "#/definitions/UserSetCoordinates"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UserCoordinates"
            }
          }
        }
      }
    },
    "/event/index": {
      "get": {
        "tags": [
          "event"
        ],
        "summary": "Tüm etkinlikler",
        "description": "This can only be done by the logged in user.",
        "operationId": "allEvent",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "type": "string",
            "schema": {
              "$ref": "#/definitions/ApiToken"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Events"
            }
          },
          "400": {
            "description": "Invalid username/password supplied"
          }
        }
      }
    },
    "/event/create": {
      "post": {
        "tags": [
          "event"
        ],
        "summary": "Yeni etkinlik oluştur.",
        "description": "This can only be done by the logged in user.",
        "operationId": "createEvent",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "type": "string",
            "schema": {
              "$ref": "#/definitions/EventCreate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Events"
            }
          }
        }
      }
    },
    "/event/show": {
      "post": {
        "tags": [
          "event"
        ],
        "summary": "Etkinlik getir.",
        "description": "This can only be done by the logged in user.",
        "operationId": "showEvent",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EventShow"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Events"
            }
          }
        }
      }
    },
    "/event/update": {
      "put": {
        "tags": [
          "event"
        ],
        "summary": "Etkinlik güncelle.",
        "description": "This can only be done by the logged in user.",
        "operationId": "updateEvent",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EventUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Events"
            }
          }
        }
      }
    },
    "/comment/create": {
      "post": {
        "tags": [
          "comment"
        ],
        "summary": "Yeni yorum oluştur.",
        "description": "This can only be done by the logged in user.",
        "operationId": "createComment",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "type": "string",
            "schema": {
              "$ref": "#/definitions/CommentCreate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Comments"
            }
          }
        }
      }
    },
    "/message/newMessage": {
      "post": {
        "tags": [
          "message"
        ],
        "summary": "Yeni mesaj gönderir.",
        "description": "This can only be done by the logged in user.",
        "operationId": "SendMessage",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "type": "string",
            "schema": {
              "$ref": "#/definitions/NewMessage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Message"
            }
          }
        }
      }
    },
    "/message/answerMessage": {
      "post": {
        "tags": [
          "message"
        ],
        "summary": "Mesaj yanıtla",
        "description": "This can only be done by the logged in user.",
        "operationId": "AnswerMessage",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "type": "string",
            "schema": {
              "$ref": "#/definitions/AnswerMessage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Message"
            }
          }
        }
      }
    }

  },
  "securityDefinitions": {
    "petstore_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://petstore.swagger.io/oauth/authorize",
      "flow": "implicit",
      "scopes": {
        "write:pets": "modify pets in your account",
        "read:pets": "read your pets"
      }
    },
    "api_key": {
      "type": "apiKey",
      "name": "api_key",
      "in": "header"
    }
  },
  "definitions": {
    "ApiToken": {
      "type": "object",
      "properties": {
        "api_token": {
          "type": "string"
        }
      },
      "xml": {
        "name": "User"
      }
    },
    "User": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "bigInteger"
        },
        "profile_photo": {
          "type": "string",
          "format": "longText"
        },
        "cover_photo": {
          "type": "string",
          "format": "text"
        },
        "title": {
          "type": "string",
          "format": "text"
        },
        "name": {
          "type": "string"
        },
        "career_history": {
          "type": "string",
          "format": "longText"
        },
        "short_biography": {
          "type": "string",
          "format": "longText"
        },
        "credentials": {
          "type": "string",
          "format": "longText"
        },
        "date_of_birth": {
          "type": "string"
        },
        "company_id": {
          "type": "integer",
          "format": "tinyInteger"
        },
        "sector_id": {
          "type": "integer",
          "format": "tinyInteger"
        },
        "email": {
          "type": "string"
        },
        "status": {
          "type": "integer",
          "format": "tinyInteger"
        }
      },
      "xml": {
        "name": "User"
      }
    },
    "UserShow": {
      "type": "object",
      "properties": {
        "api_token": {
          "type": "string"
        }
      },
      "xml": {
        "name": "User"
      }
    },
    "UserRegister": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "surname": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "password": {
          "type": "string"
        }
      },
      "xml": {
        "name": "User"
      }
    },
    "UserEdit": {
      "type": "object",
      "properties": {
        "api_token": {
          "type": "string"
        }
      },
      "xml": {
        "name": "User"
      }
    },
    "UserUpdate": {
      "type": "object",
      "required": [
        "email",
        "password",
        "api-token",
        "name",
        "surname"
      ],
      "properties": {
        "api-token": {
          "type": "string"
        },
        "profile_photo": {
          "type": "string",
          "format": "longText"
        },
        "cover_photo": {
          "type": "string",
          "format": "text"
        },
        "title": {
          "type": "string",
          "format": "text"
        },
        "name": {
          "type": "string"
        },
        "surname": {
          "type": "string"
        },
        "career_history": {
          "type": "string",
          "format": "longText"
        },
        "short_biography": {
          "type": "string",
          "format": "longText"
        },
        "credentials": {
          "type": "string",
          "format": "longText"
        },
        "date_of_birth": {
          "type": "string"
        },
        "company_id": {
          "type": "integer",
          "format": "tinyInteger"
        },
        "sector_id": {
          "type": "integer",
          "format": "tinyInteger"
        },
        "email": {
          "type": "string"
        },
        "status": {
          "type": "integer",
          "format": "tinyInteger"
        }
      },
      "xml": {
        "name": "User"
      }
    },
    "UserLogin": {
      "type": "object",
      "properties": {
        "email": {
          "type": "string"
        },
        "password": {
          "type": "string"
        }
      },
      "xml": {
        "name": "User"
      }
    },
    "UserResponse": {
      "type": "object",
      "properties": {
        "api_token": {
          "type": "string"
        },
        "id": {
          "type": "integer",
          "format": "bigInteger"
        },
        "profile_photo": {
          "type": "string",
          "format": "longText"
        },
        "cover_photo": {
          "type": "string",
          "format": "text"
        },
        "title": {
          "type": "string",
          "format": "text"
        },
        "name": {
          "type": "string"
        },
        "career_history": {
          "type": "string",
          "format": "longText"
        },
        "short_biography": {
          "type": "string",
          "format": "longText"
        },
        "credentials": {
          "type": "string",
          "format": "longText"
        },
        "date_of_birth": {
          "type": "string"
        },
        "company_id": {
          "type": "integer",
          "format": "tinyInteger"
        },
        "sector_id": {
          "type": "integer",
          "format": "tinyInteger"
        },
        "email": {
          "type": "string"
        }
      }
    },
    "City": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "bigInteger"
        },
        "slug": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "plate_no": {
          "type": "string"
        },
        "phone_code": {
          "type": "string"
        }
      },
      "xml": {
        "name": "User"
      }
    },
    "Town": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "bigInteger"
        },
        "city_id": {
          "type": "integer"
        },
        "slug": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "xml": {
        "name": "User"
      }
    },
    "Company": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "bigInteger"
        },
        "name": {
          "type": "string"
        }
      },
      "xml": {
        "name": "User"
      }
    },
    "Sector": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "bigInteger"
        },
        "name": {
          "type": "string"
        }
      },
      "xml": {
        "name": "User"
      }
    },
    "Events": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "bigInteger"
        },
        "name": {
          "type": "string"
        },
        "activity_date": {
          "type": "string",
          "format": "date"
        },
        "comments": {
          "$ref": "#/definitions/Comments"
        }
      },
      "xml": {
        "name": "User"
      }
    },
    "EventCreate": {
      "type": "object",
      "properties": {
        "api_token": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "activity_date": {
          "type": "string"
        }
      },
      "xml": {
        "name": "User"
      }
    },
    "EventShow": {
      "type": "object",
      "properties": {
        "api_token": {
          "type": "string"
        },
        "id": {
          "type": "integer",
          "format": "bigInteger"
        }
      },
      "xml": {
        "name": "User"
      }
    },
    "EventUpdate": {
      "type": "object",
      "properties": {
        "api_token": {
          "type": "string"
        },
        "id": {
          "type": "integer",
          "format": "bigInteger"
        },
        "name": {
          "type": "string"
        },
        "activity_date": {
          "type": "string"
        }
      },
      "xml": {
        "name": "User"
      }
    },
    "Comments": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer"
        },
        "event_id": {
          "type": "integer"
        },
        "comment": {
          "type": "string"
        }
      },
      "xml": {
        "name": "User"
      }
    },
    "CommentCreate": {
      "type": "object",
      "properties": {
        "api_token": {
          "type": "string"
        },
        "event_id": {
          "type": "integer"
        },
        "comment": {
          "type": "string"
        }
      },
      "xml": {
        "name": "User"
      }
    },
    "Message": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer"
        },
        "parent_id": {
          "type": "integer"
        },
        "from_user_id": {
          "type": "integer"
        },
        "to_user_id": {
          "type": "integer"
        },
        "message": {
          "type": "string"
        },
        "status": {
          "type": "integer"
        }
      },
      "xml": {
        "name": "User"
      }
    },
    "NewMessage": {
      "type": "object",
      "properties": {
        "api_token": {
          "type": "string"
        },
        "to_user_id": {
          "type": "integer"
        },
        "message": {
          "type": "string"
        },
        "status": {
          "type": "integer"
        }
      },
      "xml": {
        "name": "User"
      }
    },
    "AnswerMessage": {
      "type": "object",
      "properties": {
        "api_token": {
          "type": "string"
        },
        "parent_id": {
          "type": "integer"
        },
        "to_user_id": {
          "type": "integer"
        },
        "message": {
          "type": "string"
        },
        "status": {
          "type": "integer"
        }
      },
      "xml": {
        "name": "User"
      }
    },
    "UserCoordinates": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer"
        },
        "user_id": {
          "type": "integer"
        },
        "latitude": {
          "type": "string"
        },
        "longitude": {
          "type": "string"
        }
      },
      "xml": {
        "name": "User"
      }
    },
    "UserSetCoordinates": {
      "type": "object",
      "properties": {
        "api_token": {
          "type": "string"
        },
        "latitude": {
          "type": "string"
        },
        "longitude": {
          "type": "string"
        }
      },
      "xml": {
        "name": "User"
      }
    }
  },
  "externalDocs": {
    "description": "Find out more about Swagger",
    "url": "http://swagger.io"
  }
}